@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .clip_path {
    clip-path: polygon(50% 0%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0% 60%, 0 0);
  }
  .heading {
    @apply text-3xl md:text-4xl lg:text-[45px] xl:text-[50px] font-bold text-gray-900 md:leading-[4rem] leading-[3rem] text-center;
  }
}

input[type='date']::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

input[type='time']::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
